
@font-face
	{
	font-family: Segoe;				/*normal weight*/
	src: url('fonts/segoeui.ttf');
	}

@font-face
	{
	font-family: Segoe;				/*bold*/
	src: url('fonts/segoeuib.ttf');
	font-weight: bold;
	}
	
@font-face
	{
	font-family: Segoe;				/*italics*/
	src: url('fonts/segoeuii.ttf');
	font-style: italic;
	}

@font-face
	{
	font-family: Segoe;				/*light*/
	src: url('fonts/segoeuil.ttf');
	font-weight: 100;
	}

@font-face
	{
	font-family: Segoe;				/*semibold*/
	src: url('fonts/seguisb.ttf');
	font-weight: 200;
	}

@font-face
	{
	font-family: Segoe;				/*bold italic*/
	src: url('fonts/segoeuiz.ttf');
	font-style: italic;
	font-weight: bold;
	}

	/* Classes for Segoe Family*/
.segbold {
	font-family: Segoe;
	font-weight: bold;
	}

.segitalic {
	font-family: Segoe;
	font-style: italic;
	}
.segsbold {
	font-family: Segoe;
	font-weight: 200;
	}
.seglight {
	font-family: Segoe;
	font-weight: 100;
	}
.segibold {
	font-family: Segoe;
	font-weight: bold;
	font-style: italic;
	}
.segnormal {
	font-family: Segoe;
	font-weight: normal;
	}
	
/* BODY AND GENERAL */	
	
body {
	background-color: #fff;
	font-family: Georgia;
	font-size: 12px;
	color: #111111;
	margin: 0;
}

a {text-decoration:none;color:#111111;}
.more a:visited{font-style:inherit;color:#111111;}
.more a:hover{font-style:inherit;color:#8c2dbd;}
.more a:active{font-style:inherit;color:#2e0a40;}

#main {
	
	height:800px;
	margin: 30px auto 30px auto;
	
}

hr {
	border: none;
	margin-top: 40px;
	margin-bottom: 30px;
	width:100%;
	height:3px;
	background: url('img/hr.png');
}

.more {
	position: relative;
	float: right;
}

.more a {
	text-decoration: none;
	color: #111;
}



h1 {font-size:30px;margin:0;}
h2 {font-size:24px;margin:0;}
h3 {font-size:18px;margin:0;}
h4 {font-size:16px;margin:0;}

.contain{width: 960px;height:100%;margin:auto;}
.purple {color: #8c2dbd;}
.darkpurple {color: #2e0a40}	
.white{color: #fff;}
.left {float: left;}
.right {float: right;}
.clear{clear: both;}	


/* HEADERS */

#header {
	/*border: red solid 1px;*/
	width: 100%;
	height: 115px;
	margin: ;
	background-color: #8c2dbd;
}

#main-head {
	width: 960px;
	height: 105px;
	margin: auto;
	padding-top: 5px;
}

#logo{
	float: left;
	width: 162px;
	height: 95px;
	}
	
#head-navigation {			/* NAVIGATION IN HEADER */ 
	position: relative;
	margin-top: 45px;
	float: right;
}
#head-navigation ul {
	margin: 0;
	font-family: Segoe;
	font-size: 14px;
	font-weight: 200;
	color: #fff;
	list-style: none;
}
#head-navigation li {
	float: left;
	margin-right: 20px;
}
#head-navigation a {
	text-decoration: none;
	color: #fff;
}
#head-navigation a:hover {
	text-decoration: none;
	color: #2e0a40;
}
#head-navigation a:active {
	text-decoration: none;
	color: #2e0a40;
}
	
	
/* HOME PAGE SLIDER AREA */
	
#home-slider {
	background-color: #8c2dbd;
	width: 100%;
	height: 300px;
	background: url('img/purple-shadow.png');
}
#home-slider-bg {
	background: url('img/gradient-purple.jpg') no-repeat;
	width: 960px;
	height: 300px;
	margin: auto;
}

/* TOP BAR FOR NORMAL PAGES */
	
#top-bar{
	background-color: #8c2dbd;
	width: 100%;
	height: 115px;
	background: url('img/purple-shadow-small.png');
}
#top-bar-content{
	width: 960px;
	height: 115px;
	margin: auto;
}
#top-bar-content img {
	float: right;
}
#crumbs{
	position: relative;
	float:left;
	margin-top:60px;	
}


/* SIDEBAR */
#sidebar{
	position: relative;
	background-color: #eeeeee;
	width:310px;
	height:700px;
	float: right;
	padding: 10px;
}
.widget{position: relative;margin-bottom: 25px;}

.widget p{	
	margin-top:10px;
	font-size:12px;
	font-family: Georgia;
	line-height: 20px;
	color: #222;
}
.widget ul li {
	list-style-type: square;
	font-family: Georgia;
	font-size: 12px;
	margin-bottom:5px;
}
.widget li a {text-decoration: none;color: #111;}
.widget li a:hover {font-style:inherit;color:#8c2dbd;}
.widget li a:active{font-style:inherit;color:#2e0a40;}
.widget li a:visited {font-style:inherit;color:#111;}

.widget .space {
	margin: auto;
	height: 40px;
}

/* FOOTER */
 
#footer {
	width: 100%;
	height: 115px;
	background: url('img/footerbg.jpg');
}
#footer-nav {
	width: 100%;
	height: 80px;
	border: transparent solid 1px;
}
#footer-nav li {
	list-style: none;
	float: right;
	margin-left: 20px;
}
#footer-nav li a:hover{
	color: #8c2dbd;
}
#footer-info{
	width: 100%;
	height: 20px;
}
#footer-info p{
	text-align:center;
}
 

/* CONTENT / LESSON ELEMENTS */


#post {
	position: relative;
	float: left;
	width: 610px;
	height: 100%;
}
#post p {
	line-height: 22px;
	text-align: justify;
	font-size: 14px;
}
.intro {
	width: 100%;
	height: 150px;
	
}
.intro-img{
	position: relative;
	float: left;
	margin: 30px 0 0 20px;
	width:121px;
	height: 121px;
	background: url('img/intro-bg.png') no-repeat;
}
.intro-txt{
	position: relative;
	float: right;
	width: 420px;
	height: 100%;
}
.example{
	padding-left: 100px;
	color: #999;
	background: url('img/example.png') no-repeat;
}